/* Définition des polices */
@import url('https://fonts.googleapis.com/css?family=Lato|Montserrat|Caveat|PT-Serif');

body {
	margin: 0 auto;
}

/* Aspect des liens */
a {
	text-decoration: none;
	cursor: pointer;
}

/* Animation souligné */
a.left_animation {
	position: relative;
}

a.left_animation:before {
	content: "";
	position: absolute;
	width: 0;
	height: 3px;
	bottom: -10px;
	left: 0;
	background-color: #e69500;
	visibility: hidden;
	opacity: 0;
	transition: all 0.3s ease-in-out;
	transition-duration: 0.55s;
}

a.left_animation:hover:before {
	visibility: visible;
	opacity: 1;
	width: 100%;
}

/* Mise en page du header */
header {
	background-color: #579c87;
	color: #fdcb46;
	padding: 1px 15px 1px 15px;
	text-align: center;
}

/* Taille du logo "ohmyfood" */
#header-logo {
	width: 23%;
}

/* Flexbox autour des petits menus */
#small-menu-container {
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
	margin: 2% 10%;
}

/* Aspect des petits menus cliquables */
.small-menu-image {
	border: 1px solid lightgrey;
	width: 30vw;
	margin-top: 40px;
}

/* Transition "effet zoom et transparence" au survol des petits menus */
.small-menu-image:hover {
	transform: scale(1.3);
	opacity: 0.65;
	transition: all ease 500ms;
}

/* Mise en page du bouton "prochainement" */
#button-container {
	background-color: #579c87;
	color: #fdcb46;
	font-family: 'Montserrat', sans-serif;
	border-radius: 13px;
	font-size: calc(1.3vw + 8px);
	text-align: center;
	width: 30vw;
	margin: 0 auto;
	margin-top: 60px;
	margin-bottom: 40px;
	padding-top: 9px;
	padding-bottom: 4px;
	cursor: pointer;
}

/* Container des trois points */
#loader-container {
	width: calc(100% - 200px);
	margin-left: 7.5vw;
	margin-right: 10vw;
	margin-top: 5px;
	margin-top: -18px;
}

/* Aspect des trois points */
label {
	font-size: calc(2vw + 10px);
	color: #fdcb46;
	opacity: 0;
	display: inline-block;
}

/* Animation des trois points */
label:nth-child(1) {
	animation: points 1.5s 300ms infinite ease-in-out;
}

label:nth-child(2) {
	animation: points 1.5s 400ms infinite ease-in-out;
}

label:nth-child(3) {
	animation: points 1.5s 500ms infinite ease-in-out;
}

/* Mise en page du footer */
footer {
	background-color: #579c87;
	color: #fdcb46;
	position: sticky;
	bottom: 0px;
	display: flex;
	justify-content: space-between;
	padding: 2.5vh;
	margin-top: 20px;
}

/* Aspect des sections du footer */
.footer-section {
	font-family: 'Lato', sans-serif;
	font-size: calc(1vw + 10px);
	color: #fdcb46;
}

/* Animation des sections du footer au survol */
.footer-section:hover {
	animation: wiggle 75ms 3;
	animation-timing-function: linear;
}

/* Aspect de la page "mentions légales" */
#legal-container {
	margin: 20px;
}

/* Marges extérieures des grands menus */
.big-menu-container {
	padding: 60px 65px 45px 65px;
}

.big-menu-container--salmon-background {
	background-color: #FCDFDB;
}

.big-menu-container--grey-background {
	background-color: #EDEFEE;
}

/* Logo des grands menus */
.big-menu-logo {
	display: block;
	width: 50%;
	margin-left: auto;
	margin-right: auto;
	padding-top: 5px;
}

.big-menu-logo--width-note-enchantée {
	width: 28%;
}

.big-menu-logo--width-chic-française {
	width: 50%;
}

/* Petit logo "La note enchantée" */
#note-enchantée-small-logo {
	display: block;
	width: 25%;
	margin-left: auto;
	margin-right: auto;
	padding-top: 12%;
	padding-bottom: 5%;
}

/* Bordures des grands menus */
.big-menu-border {
	width: 26vw;
	padding-top: 11px;
}

/* Padding des sous-titres des grands menus */
.big-menu-subtitle {
	padding-top: 5%;
	padding-bottom: 1%;
}

.big-menu-content {
	font-size: 155%;
	line-height: 200%;
}

.big-menu-content--small-font {
	font-size: 130%;
	line-height: 200%;
}

.big-menu-content--font1 {
	font-family: 'Caveat', sans-serif;
	color: #43191f;
}

.big-menu-content--font2 {
	font-family: 'PT Serif', serif;
}

.big-menu-content--dark-red {
	color: #43191f;
}

/* Marges des paragraphes intérieurs des grands menu */
.mini-container {
	margin-left: 6vw;
	margin-right: 6vw;
}

/* Flexbox des plats des grands menus */
.menu-flex {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

/* Style des prix des grands menus */
.price {
	font-weight: bolder;
}

/* "le chic à la française", couleur 1 */
.chic-française--dark-orange {
	color: #C67412;
}

/* "le chic à la française", couleur 2*/
.chic-française--magenta {
	color: #A56799;
}

/* "le chic à la française", couleur 3 */
.chic-française--purple {
	color: #6E4CCC;
}

/* Animation "secousse" */
@keyframes wiggle {
	0% {
		transform: translate(2px, 0);
	}

	50% {
		transform: translate(-2px, 0);
	}

	100% {
		transform: translate(2px, 0);
	}

}

/* Animation "trois points" */
@keyframes points {
	0% {
		opacity: 0;
	}

	33% {
		opacity: 1;
	}

	66% {
		opacity: 1;
	}

	100% {
		opacity: 0;
	}

}

/* Règles particulières pour les petits écrans */
@media screen and (max-width:768px) {
	#header-logo {
		width: 35%;
	}

	#loader-container {
		width: 100%;
		margin-left: 1vw;
		margin-right: 10vw;
		margin-top: -10px;
	}

	#legal-container {
		font-size: 12px;
	}

	.mini-container {
		margin: 0 auto;
	}

	.big-menu-container {
		padding: 22px 14px 14px 14px;
	}

	.big-menu-content {
		font-size: 87%;
		line-height: 190%;
	}

	.big-menu-content--small-font {
		font-size: 70%;
		line-height: 190%;
	}

	a.left_animation:before {
		height: 2px;
	}

}