/* Définition des polices */
@import url('https://fonts.googleapis.com/css?family=Lato');
@import url('https://fonts.googleapis.com/css?family=Montserrat');

/* Définition des deux couleurs principales */
body {
--greencolor:#579c87;
--yellowcolor:#fdcb46;
margin: 0;

}
/* Style des liens */
a {
text-decoration : none;
color : var(--yellowcolor);
}
/* Container qui entoure la page */
.container {
margin-right: 0.5cm;
margin-left: 0.5cm;
}
/* Mise en page du Footer */
header {
background-color: var(--greencolor);
color: var(--yellowcolor);
padding: 20px 15px 20px 15px;
text-align: center;
}
.logo {
width:22vw;
}
/* Mise en page de la section "Menus" */
.menu {
display: flex;
justify-content: space-around;
flex-wrap: wrap;
margin: 2% 10%;
}
/* Aspect des menus cliquables */
.menu-image {
border: 1px solid lightgrey;
width: 30vw;
margin-top: 40px;
}
/* Zoom au survol des menus */
.menu-image:hover{
transform: scale(1.3);
opacity : 0.65;
transition: all ease 500ms;
}
/* Mise en page des grands menus */
.big-menu {
width:1000px;
margin-left: 4cm;
}
/* Couleur de fond du grand menu 1 */
.colormenu1 {
background-color: #FCDFDB;
}
/* Couleur de fond du grand menu 3 */
.colormenu3 {
background-color: #EDEFEE;
}
/* Mise en page de la barre "prochainement" */
.prochainement {
background-color: var(--greencolor);
color: var(--yellowcolor);
font-family: 'Montserrat', sans-serif;
border-radius: 13px;
font-size: calc(1.3vw + 8px);
text-align: center;
width: 30vw;
margin: 0 auto;
margin-bottom: 17px;
padding-bottom: 14px;
padding-top: 14px;
}
/* Taille du texte "prochainement" */
h2 {
font-size: calc(1vw + 15px);
}
/* Mise en page du Footer */
footer {
background-color: var(--greencolor);
color: var(--yellowcolor);
position: -webkit-sticky;
position: sticky;
bottom: 0px;
display: flex;
justify-content: space-between;
padding: 2vh;
}
.footer-section {
font-family: 'Lato', sans-serif;
font-size: calc(1vw + 10px);
}
.footer-section:hover{
animation: wiggle 75ms 3;
animation-timing-function: linear;
}
/* Animation "wiggle" */
@keyframes wiggle {
0% { transform: translate(2px, 0); }
50% { transform: translate(-2px, 0); }
100% { transform: translate(2px, 0); }
}
/* Règles particulières pour les petits écrans */
@media screen and (max-width: 768px) {
}