/* Définition des polices */
@import url('https://fonts.googleapis.com/css?family=Lato|Montserrat|Caveat|PT-Serif');

/* Définition des deux couleurs principales du site */
body {
    --text_color: #fdcb46;
	--background_color: #579c87;
	margin: 0;
}

/* Aspect des liens */
a {
	text-decoration: none;
	color: var(--text_color);
}

/* Mise en page du header */
header {
	background-color: var(--background_color);
	color: var(--text_color);
	padding: 1px 15px 1px 15px;
	text-align: center;
}

/* Taille du logo "ohmyfood" */
#ohmyfood-logo {
	width: 25%;
}

/* Flexbox autour des petits menus */
#menu-container {
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
	margin: 2% 10%;
}

/* Aspect des petits menus cliquables */
.menu-image {
	border: 1px solid lightgrey;
	width: 30vw;
	margin-top: 40px;
}

/* Transition "effet zoom et transparence" au survol des petits menus */
.menu-image:hover {
	transform: scale(1.3);
	opacity: 0.65;
	transition: all ease 500ms;
}

/* Mise en page du bouton "prochainement" */
#button-container {
	background-color: var(--background_color);
	color: var(--text_color);
	font-family: 'Montserrat', sans-serif;
	border-radius: 13px;
	font-size: calc(1.3vw + 8px);
	text-align: center;
	width: 30vw;
	margin: 0 auto;
	margin-top: 60px;
	margin-bottom: 40px;
	padding-top: 9px;
	padding-bottom: 4px;
	cursor: pointer;
}

/* Container des trois points */
#loader-container {
	width: calc(100% - 200px);
	margin-left: 7.5vw;
	margin-right: 10vw;
	margin-top: 5px;
	margin-top: -18px;
}

/* Aspect des trois points */
#loader-container label {
	font-size: calc(2vw + 10px);
	color: var(--text_color);
	opacity: 0;
	display: inline-block;
}

/* Animation des trois points */
#loader-container label:nth-child(1) {
	animation: points 1.5s 500ms infinite ease-in-out;
	-webkit-animation: points 1.5s 300ms infinite ease-in-out;
}

#loader-container label:nth-child(2) {
	animation: points 1.5s 400ms infinite ease-in-out;
	-webkit-animation: points 1.5s 400ms infinite ease-in-out;
}

#loader-container label:nth-child(3) {
	animation: points 1.5s 300ms infinite ease-in-out;
	-webkit-animation: points 1.5s 500ms infinite ease-in-out;
}

/* Mise en page du footer */
footer {
	background-color: var(--background_color);
	color: var(--text_color);
	position: sticky;
	bottom: 0px;
	display: flex;
	justify-content: space-between;
	padding: 2vh;
	margin-top: 20px;
}

/* Aspect des sections du footer */
.footer-section {
	font-family: 'Lato', sans-serif;
	font-size: calc(1vw + 10px);
}

/* Animation des sections du footer au survol */
.footer-section:hover {
	animation: wiggle 75ms 3;
	animation-timing-function: linear;
}

/* Aspect de la section "mentions légales" */
#legal-container {
margin: 20px;
}

/* Mise en page des grands menus */
.big-menu {
	width: 1000px;
	margin-left: 4cm;
}

/* Marges des paragraphes des grands menu */
.mini-container {
	margin-left: 6vw;
	margin-right: 6vw;
}

/* Flexbox dans les grands menus */
.menu-flex {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

/* Style des prix des grands menus */
.price {
	font-weight: bolder;
}

/* Couleur de fond et marges extérieures du Menu 1 */
#note-enchantée-container {
	padding: 100px 100px 55px 100px;
	background-color: #FCDFDB;
}

/* Menu 1, grand logo */
#note-enchantée-logo {
	display: block;
	width: calc(24vw + 30px);
	margin-left: auto;
	margin-right: auto;
	padding-top: 5px;
}

/* Menu 1, petit logo */
#note-enchantée-small-logo {
	display: block;
	width: 30%;
	margin-left: auto;
	margin-right: auto;
	padding-top: 25vh;
	padding-bottom: 15vh;
}

/* Menu 1, bordures */
.note-enchantée-border {
	width: 26vw;
}

/* Menu 1, sous-titres */
.note-enchantée-subtitle {
	display: block;
	text-align: center;
	font-weight: bolder;
	font-size: calc(2.3vw + 10px);
	padding-top: 24vh;
	padding-bottom: 15vh;
}

/* Menu 1, contenu */
.note-enchantée-content {
	font-family: 'Caveat', sans-serif;
	font-size: calc(1.5vw + 10px);
	line-height: calc(3vw + 13px);
	color: #43191f;
}

/* Couleur de fond et marges du Menu 2 */
#chic-française-container {
	padding: 32px;
}

/* Menu 2, grand logo */
#chic-française-big-logo {
	display: block;
	width: calc(37vw + 50px);
	margin-left: auto;
	margin-right: auto;
	padding-top: 5px;
	padding-bottom: 4vw;
}

/* Menu 2, bordures */
.chic-française-color1 {
	color: #C67412;
}

/* Menu 2, couleur 1 */
.chic-française-color2 {
	color: #A56799;
}

/* Menu 2, couleur 2 */
.chic-française-color3 {
	color: #6E4CCC;
}

/* Menu 2, couleur 3 */
.chic-française-border {
	width: 26vw;
	padding-top: 15px;
}

/* Menu 2, sous-titres */
.chic-française-subtitle {
	display: block;
	text-align: center;
	font-weight: bolder;
	font-size: calc(2vw + 7px);
	padding-top: 20vh;
	padding-bottom: 15vh;
}

/* Menu 2, contenu */
.chic-française-content {
	font-family: 'PT Serif', serif;
	font-size: calc(1vw + 9px);
	line-height: calc(2.5vw + 15px);
}

/* Couleur de fond et marges du Menu 3 */
#le-délice-container {
	padding: 82px 50px 100px 50px;
	background-color: #EDEFEE;
}

/* Menu 3, grand logo */
#le-délice-big-logo {
	display: block;
	width: calc(40vw + 33px);
	margin-left: auto;
	margin-right: auto;
	padding-top: 5px;
}

/* Menu 3, bordures */
.le-délice-border {
	width: 26vw;
	padding-top: 18px;
}

/* Menu 3, sous-titres */
.le-délice-subtitle {
	display: block;
	text-align: center;
	font-size: calc(2.3vw + 10px);
	padding-top: 24vh;
	padding-bottom: 15vh;
}

/* Menu 3, contenu */
.le-délice-content {
	font-family: 'Caveat', sans-serif;
	font-size: calc(1.5vw + 10px);
}

/* Marges extérieures du Menu 4 */
#la-palette-container {
	padding: 100px;
}

/* Menu 4, grand logo */
#la-palette-big-logo {
	display: block;
	width: calc(42vw + 20px);
	margin-left: auto;
	margin-right: auto;
	padding-top: 5px;
}

/* Menu 4, bordures */
.la-palette-border {
	width: 26vw;
	padding-top: 20px;
}

/* Menu 4, sous-titres */
.la-palette-subtitle {
	display: block;
	text-align: center;
	font-size: calc(2vw + 10px);
	padding-top: 13vh;
	padding-bottom: 15vh;
}

/* Menu 4, contenu */
.la-palette-content {
	font-family: 'Caveat', sans-serif;
	font-size: calc(1.5vw + 10px);
	color: #43191f;
	line-height: calc(3vw + 13px);
}

/* Animation "secousse" */
@keyframes wiggle {
	0% {
		transform: translate(2px, 0);
	}

	50% {
		transform: translate(-2px, 0);
	}

	100% {
		transform: translate(2px, 0);
	}

}

/* Animation "trois points" */
@keyframes points {
	0% {
		opacity: 0;
	}

	33% {
		opacity: 1;
	}

	66% {
		opacity: 1;
	}

	100% {
		opacity: 0;
	}

}

@-webkit-keyframes points {
	0% {
		opacity: 0;
	}

	33% {
		opacity: 1;
	}

	66% {
		opacity: 1;
	}

	100% {
		opacity: 0;
	}

}

/* Règles particulières pour les petits écrans */
@media screen and (max-width:768px) {
	#ohmyfood-logo {
	width: 35%;
    } 
	.mini-container {
		margin: 0 auto;
	}

	#note-enchantée-container {
		padding: 15px;
	}

	#chic-française-container {
		padding: 55px 10px 100px 10px;
	}

	#le-délice-container {
		padding: 82px 10px 100px 10px;
	}

	#la-palette-container {
		padding: 82px 10px 100px 10px;
	}

	.le-délice-border {
		padding-top: 10px;
	}

	#loader-container {
		width: 100%;
		margin-left: 1vw;
		margin-right: 10vw;
		margin-top: -10px;
	}
   #legal-container {
    font-size: 12px;
    }
}